extends ../layouts/base.pug

block scripts
  script(src='./js/main.js')

block content
  link(href='./css/styles.css', rel='stylesheet')

  main
    section(class='d-flex align-items-start')
      h1 SKATs positivliste over ETF'er & fonde 
        small(class='text-muted') | #{fileModified.fileModified.getFullYear()}
      div(class='d-flex ms-auto form-check form-switch gap-2')
        input(class='form-check-input', type='checkbox', role='switch', id='switch-theme', onchange='toggleTheme()')
        label(class='form-check-label', for='switch-theme') 
          small Skift tema

    article(class='row mb-3')
      section(class='col col-md-7')
        h3 Hvad er SKATs positivliste?
        p SKAT har offentliggjort en positivliste for de investeringsselskaber, herunder exchange-traded funds (ETF'er), som fra og med 
          strong
            time(datetime=fileModified.fileModified.getFullYear()) #{fileModified.fileModified.getFullYear()} 
          | skal beskattes som aktieindkomst efter lagerprincippet, hvis man investerer for frie midler. Såfremt et investeringsselskab (herefter benævnt fond) ikke fremgår af positivlisten, vil man i stedet blive beskattet som kapitalindkomst ligeledes efter lagerprincippet. Alle fonde der optræder på positivlisten kan handles på bl.a. 
          a(href=env.SKAT_URL + 'borger/aktier-og-andre-vaerdipapirer/aktiesparekonto', target='_blank', data-bs-toggle='tooltip', data-bs-placement='bottom', title='Aktiesparekontoen er en investeringskonto, der gør det nemmere og billigere at investere i aktiebaserede aktiver') aktiesparekontoen.
        p SKAT opdaterer med jævne mellemrum positivlisten over godkendte fonde i løbet af året.
      section(class='col col-md')
        h3 Få overblik over SKATs positivliste: Nem søgning og sortering
        p Positivlisten downloades automatisk fra 
          a(href=env.SKAT_URL + 'erhverv/ekapital/vaerdipapirer/beviser-og-aktier-i-investeringsforeninger-og-selskaber-ifpa', target='_blank', data-bs-toggle='tooltip', data-bs-html='true', data-bs-placement='bottom', title='Se under emnet "<em>Liste over aktiebaserede investeringsselskaber</em>"') SKATs hjemmeside
          |  og er senest blevet downloadet 
          strong
            time(datetime=fileModified.fileModified.toISOString()) #{fileModified.fileModified.toLocaleString('da-DK', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'})}
        p Herunder kan du sortere, søge og få et samlet overblik over fondene på positivlisten uden, at skulle manuelt downloade den opdaterede fil hver gang fra SKATs hjemmeside.

    article(class='mb-3')
      h4(data-bs-toggle="collapse", href="#registration-collapse", aria-expanded="true", aria-controls="registration-collapse") Registrer din email og bliv notificeret når SKAT tilføjer en fond
      section(class="collapse show", id="registration-collapse", aria-expanded="true" aria-controls="registration-collapse")
        p Vil du sikre dig, at blive notificeret når en bestemt fond tilføjes til positivlisten? Herunder kan du registrere din email samt en given fonds 
          a(href='https://da.wikipedia.org/wiki/International_Securities_Identification_Number', target='_blank', data-bs-toggle='tooltip', data-bs-placement='top', title='ISIN-koden angiver hvor det underliggende aktiv er noteret - det er samtidig en unik kode, som skelner de mange noterede aktiver fra hinanden') ISIN-kode (også kaldet fondskode)
          |  og blive notificeret, såfremt SKAT opdaterer positivlisten med den angivne ISIN-kode. Fondens ISIN-kode kan du typisk finde på din foretrukne investeringsplatform.
        form(class="mb-3", action='/register', method='POST', id="submit-registration-form")
          div(class="row")
            div(class="col col-md-4")
              input(oninput="sanitizeIsinInput()", type='text', pattern="^[A-Z]{2}.{10}", title="ISIN skal bestå af landekode efterfulgt af 10 tegn" name='isin' class='form-control mb-2', placeholder='Indtast ISIN-kode', id='isin-input', required)
            div(class="col col-md")
              input(type='email', name='email' class='form-control mb-2', placeholder='Indtast email' required)
          p 
            small
              em Bemærk at du kun notificeres en gang pr. registrering, og kun hvis SKAT tilføjer ISIN-koden til positivlisten, hvorefter den indtastede registrering tages af mailinglisten. Fjernes fondens ISIN-kode af SKAT på et senere tidspunkt, skal du derfor selv holde dig ajourført med positivlisten nedenfor - eller registrere fonden på ny, hvis den skulle blive tilføjet igen.
          button(onclick='submitRegistration()' type='submit', class='btn btn-primary col-12 col-md-auto', id="submit-registration-button") 
            span(class='spinner-border spinner-border-sm d-none', aria-hidden='true', id="submit-registration-spinner")
            |  Registrer

      section
        ins(class='adsbygoogle', data-ad-client='ca-pub-6235382655273410', data-ad-slot='7626235157', data-ad-format='auto', data-full-width-responsive='true')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});

      if status 
        section(class="d-flex align-items-center gap-2 alert alert-dismissible fade show alert-" + (status === statusEnum.Success ? statusEnum.Success : statusEnum.Danger) , role='alert')
          if status === statusEnum.Success
            svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-check-circle-fill", viewBox="0 0 16 16")
              path(d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05")
          div #{(status === statusEnum.Success ? 'Din registrering blev gemt' : 'Der skete en fejl')}
          button(type='button', class='btn-close btn', data-bs-dismiss='alert', aria-label='Close')

    section(class='d-flex justify-content-center')
      div(class='spinner-border text-primary my-3', role="status", id='spinner')
        span(class='visually-hidden') Indlæser...
 
    table(class='table table-sm table-striped table-hover', id='table')
      caption
        a(href='./xlsx/skats-positivliste.xlsx', download, data-bs-toggle='tooltip', data-bs-placement='top', title='Download SKATs positivliste som Excel-fil') SKATs positivliste for #{fileModified.fileModified.getFullYear()} 

