extends layouts/base.pug

block scripts
  script(src='./js/main.js')

block content
  link(href='./css/styles.css', rel='stylesheet')

  main(class='container pt-3')
    h1 Skats positivliste over ETF'er & fonde 
      small(class='text-muted') | #{fileModified.getFullYear()}
    article(class='row mb-3')
      section(class='col-7')
        p Skat har offentliggjort en ny positivliste for de investeringsselskaber, herunder exchange-traded funds (ETF'er), som fra og med #{fileModified.getFullYear()} skal beskattes som aktieindkomst efter lagerprincippet, hvis man investerer for frie midler. Såfremt et investeringsselskab (herefter benævnt fond) ikke fremgår af listen, vil man i stedet blive beskattet som kapitalindkomst ligeledes efter lagerprincippet.
      section(class='col')
        p Listen downloades automatisk fra 
          a(href='https://skat.dk/data.aspx?oid=2244641', target='_blank', data-bs-toggle='tooltip', data-bs-placement='bottom', title='Se under emnet "Liste over aktiebaserede investeringsselskaber"') Skats hjemmeside
          |  hver nat og er af Skat senest blevet opdateret 
          strong  #{fileModified.toLocaleDateString('da-DK', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}. 
        p Herunder kan du sortere, søge og få et samlet overblik over listen uden, at skulle manuelt downloade den opdaterede fil hver gang.
 
    div(class='d-flex justify-content-center')
      div(class='spinner-border text-primary mt-5', id='spinner')
        span(class='visually-hidden') Indlæser...
 
    table(class='invisible table table-sm table-striped table-hover', id='table')
      caption
        a(href='./xlxs/skats-positivliste.xlxs', data-bs-toggle='tooltip', data-bs-placement='top', title='Download Skats positivliste som Excel-fil', download) Skats positivliste
      thead
        tr
          each column in columns
            th= column
      tbody
          each value in values
            tr
              each column in columns
                td
                  if column === 'ISIN-kode' && /^[A-Z]{2}.{10}$/.test(value[column])
                      a(href='https://morningstar.dk/dk/funds/SecuritySearchResults.aspx?search=' + value[column], target='_blank', title='Morningstar.dk')= value[column]
                  else
                      = value[column]