html(lang="da")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registrering 
  body 
    p Hej,
    p
      | Fonden med ISIN-koden 
      strong #{registration.isin} 
      | er nu blevet fundet på SKATs positivliste.
      br
      | Bekræft venligst, at dette er i overensstemmelse med positivlisten ved at søge efter ISIN-koden på 
      a(href=process.env.SKATS_POSITIVLISTE_URL) positivlisten.
      
    p Du vil ikke modtage yderligere notifikationer om ændringer vedrørende #{registration.isin}.

    p Hvis du gerne vil støtte denne online tjeneste, kan du overveje at oprette en konto hos Nordnet via dette 
      a(href='https://track.adtraction.com/t/t?a=1720107323&as=1950083675&t=2&tk=1') affiliate-link.
      br
      | Din støtte er med til at holde tjenesten kørende og gratis at bruge.

    p Mvh. 
      a(href=process.env.SKATS_POSITIVLISTE_URL) #{process.env.SKATS_POSITIVLISTE_URL}
